.page__footer-follow li {
	text-transform: none;
}

.page__footer-follow a {
	padding-right: 0;
}

.page__content h3 {
	border-bottom: 1px dashed #bfbfbf;
	padding-bottom: 0.5em;
}

.floatright {
	float: right;
	margin: 5px;
}

.floatleft {
	float: left;
	margin: 5px;
}
