.page__footer-follow li {
	text-transform: none;
}

.page__footer-follow a {
	padding-right: 0;
}

.page__content h3 {
	border-bottom: 1px dashed #bfbfbf;
	padding-bottom: 0.5em;
}

.floatright {
	float: right;
	margin: 5px;
}

.floatleft {
	float: left;
	margin: 5px;
}

h2 ~ ol > li > ol {
	list-style-type: lower-alpha;
}

h2 ~ ol > li > ol > li > ol {
	list-style-type: lower-roman;
}

h2 ~ ol > li > ol > li > ol > li > ul {
	list-style-type: upper-alpha;
}

h2 ~ ol > li > ol > li > ol > li > ul > li > ul {
	list-style-type: upper-roman;
}
